* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #dde9ea;
}

body{
    display: flex;
    overflow: hidden;

}
.outer{
    border:1px solid transparent;
    width: 100%;
}

.vertical-line {
    position: absolute;
    left: 80px; 
    height: 100vh; 
    width: 8px;
    background-color: #89d2d9;
    height: 30%;
}
.phone-icon {
    position: absolute;
    left: 70px; 
    top: 35%; 
    font-size: 25px; 
  }
  
.check{
    border: 2px solid transparent;
    width: 100%;
    margin-top: 5%;
    margin-left: 2%;
}
.second{
    margin-left: 10%;
    border: 2px solid transparent;
    width :100%;
}


.back{
    opacity: 10%;
    font-size: 10rem;
    font-weight: 800;
    position: absolute;
}
.front{
    font-size: 7rem;
    font-weight: 800;
    margin-top: 1.8%;
    margin-left: 1.8%;
    border: 1px solid transparent;
}

.para{
    font-size: 1.55rem;
    font-weight: 800;
    margin: 2% 4% 0% 4%;
}

.three{
    width: 100%;
    border: 2px solid transparent;
    margin-top: 10%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    
}

.circle{
    position: relative;
    border: 1px solid black;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #89d2d9;
}

.cphone{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 2rem;
    background-color: #89d2d9;
}

pre{
    font-size: 1.2rem;
    font-weight: 700;
    margin: 5%;
}